!function() {
    <%if (requirejsConfig) {%>
         document.writeln('<script type="text/javascript" src="<%- requirejsConfig %>"><' + '/script>');
    <%}%>
    document.writeln('<script type="text/javascript" src="<%- requirejs %>" data-main="/<%- main %>"><' + '/script>');
}();
