!function() {
    document.writeln('<script type="text/javascript" src="/js/conf/requirejs.config.js"><' + '/script>');
    document.writeln('<script type="text/javascript" src="/js/node_modules/requirejs/require.js" data-main="/<%- main %>"><' + '/script>');
}();
